{% extends 'base.html.twig' %}

{% form_theme formTicket 'bootstrap_4_layout.html.twig' %}

{% block title %}Nouveau ticket
{% endblock %}

{% block body %}
	<div>
		<h1>
			{% if editMode %}
				Modifier un ticket
			{% else %}
				Poster un ticket
			{% endif %}
		</h1>
		{{form_start(formTicket)}}
		{{form_row(formTicket.message)}}
		{{form_row(formTicket.category)}}
		{{ form_end(formTicket) }}
	</div>
{% endblock %}