{% extends 'base.html.twig' %}

{% block title %}Mes tickets{% endblock %}

{% block body %}
<h1>Mes tickets</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Numéro du ticket</th>
      <th scope="col">Message</th>
      <th scope="col">Category</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Accéder</th>
      <th scope="col">Modifier</th>
    </tr>
  </thead>
  <tbody>
  {% for ticket in tickets %}
    <tr class="table-active">
      <th scope="row">{{ ticket.id }}</th>
      <td>{{ ticket.message }}</td>
      <td>
      {% if ticket.category.name is defined %}
      {{ ticket.category.name }}
      {% else %}
      Aucune
      {% endif %}
      </td>
      <td>{{ ticket.date |  date('d/m/y à H:i') }}</td>
      <td>{{ ticket.status }}</td>
      <td><a href="{{path('ticket_show', {'id': ticket.id })}}">Voir</a></td>
      <td><a href="{{path('ticket_edit', {'id': ticket.id })}}">Modifier</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
