{% extends 'base.html.twig' %}

{% form_theme formResponse 'bootstrap_4_layout.html.twig' %}

{% block title %}Ticket show
{% endblock %}

{% block body %}

	<div>
		<h1>Ticket n°
			{{ticket.id}}</h1>
            <p>Statut: {{ticket.status}}</p>
		<p>Le
			{{ticket.date | date('d/m/y à H:i')}}</p>
		<p>Categorie:
			 {% if ticket.category.name is defined %}
      {{ ticket.category.name }}
      {% else %}
      Aucune
      {% endif %}</p>

		<article>
			<p>{{ticket.message}}</p>
		</article>

		<h2>Les reponses</h2>

		{% if ticket.status == 'ouvert'%}
		{{form_start(formResponse)}}
		{{form_row(formResponse.response)}}
		{{form_end(formResponse)}}
		{% endif %}

		<section>
			{% for response in ticket.responses %}
				<article>
					<span>Le
						{{ response.date | date('d/m/y à H:i' )}}
						de
						{{response.user.email}}
					</span>
					<p>{{response.response}}</p>
				</article>
			{% endfor %}
		</section>
	</div>
{% endblock %}
