<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
										           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css">

		{% endblock %}

		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<a class="navbar-brand" href="{{path('home')}}">Home</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
						{% if app.user %}
							<li class="nav-item active">
								<a class="nav-link" href="{{path('ticket_new')}}">Nouveau ticket
								</a>
							</li>
							<li class="nav-item">
								{% if is_granted('ROLE_SUPPORT') or is_granted('ROLE_ADMIN') %}
									<a class="nav-link" href="{{path('support_tickets')}}">Les tickets</a>
								{% else %}
									<a class="nav-link" href="{{path('tickets')}}">Mes tickets</a>
								{% endif %}

							</li>
						
							<li class="nav-item">
								<a class="nav-link" href="{{path('profil')}}">Profil</a>
							</li>
								{% if is_granted('ROLE_ADMIN') %}
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="{{path('category_index')}}">Modifier Catégorie</a>
										<a class="dropdown-item" href="{{path('user_admin_index')}}">Modifier Compte</a>
									</div>
								</li>
							{% endif %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_logout')}}">Logout</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_register')}}">Register</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</nav>
		</header>
		{% block body %}{% endblock %}
	</body>
</html></body></html>
