{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container bootstrap snippet">
    <div class="col-sm-9">
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <h1>Vos informations</h1>
                    <span>Email</span>
                    <p>{{user.email}}</p>
                    <a href="{{path('email_update')}}">Modifier</a>
                </div>
                <hr>
                <div>
                    <span>Password</span>
                    <p>**********</p>
                    <a href="{{path('password_update')}}">Modifier</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
