{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<h1>Changez votre Password</h1>
<p>Si vous voulez changer le password associé à votre compte, vous pouvez le faire ci-dessous. N'oubliez pas de cliquer sur le bouton Enregistrer les modifications quand vous avez terminé.</p>
{{form_start(form)}}
{{form_row(form.password)}}
{{form_row(form.newPassword)}}
{{form_row(form.save)}}
{{form_end(form)}}
{% endblock %}